
*{
    padding: 0;
    margin: 0;
}
header{
    padding: 24px 0;
    background-color: black;
}

.container{
    max-width:1200px;
    margin: auto;
}
.d_flex {
    display: flex;
    justify-content:  space-between;
    align-items: center;
}

.navbar{
    list-style: none; display: flex;
}

header nav li{
    margin-left: 32px;
}

.navbar_item {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

header li .navbar_item:first-of-type a{
    font-size: 13px;
    margin-right: 56px;
}

header li .navbar_item:nth-child(2),.navbar_item:nth-child (3), .navbar_item:nth-child (4) a{
    font-size: 15px;
}

.navbar_sets_button {
    font: 16px/20px 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 9px 20px 13px 20px

}

.main_section {
    background-image: url('../images/background_main.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
    position: relative;
}

.fixed_location {
    position: absolute;
    right: 40px;
    bottom: 46px;
    list-style: none;
    display: flex;
    align-items: center;
    }

.fixed_location li{
    font: 12px/12px 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 16px;
    display: flex;
    align-items: center;
}
.fixed_location li:before{
    content: "";
    display: inline-block;
    background-image: url(../images/camera.svg);
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.fixed_location li:nth-child(2):before{
    background-image: url("../images/time.svg");
}

.fixed_location li:nth-child(3):before{
    background-image: url("../images/iso.svg");
    width: 32px;
}

.fixed_location li:last-of-type:before{
    background-image: url("../images/location_ice.svg");
    width: 10px;
}

.main_section div {
    max-width: 580px;
    text-align: center;
    color: #FFFFFF;
}
.main_section h2 {
    font: 14px/20px 'Poppins', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.main_section h1{
    font: 54px/59px 'Poppins', sans-serif;
    text-align: center;
    color: #FFFFFF;"
}
.main_section p {
    font: 14px/20px 'Poppins', sans-serif;
    text-align: center;
    color: #C0C0C0;"
}

.sunset{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.sunset .sub_container, .leafs .sub_container, .star_fall .sub_container {
    max-width: 298px;
    margin-right: 62px;
}

.sunset h4, .leafs h4, .star_fall h4 {
    font: 14px/20px 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sunset, .leafs, .star_fall {
    font: 14px/20px 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}

.leafs {
    background-image: url("../images/IMAGE_bcg_Leaves.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

.past_clients {
    background-color: black;
    min-height: 500px;
    box-sizing: border-box;
    padding-top: 113px;
    padding-bottom: 140px;
  }

.past_clients h2, .help h2{
    font: 40px/42px 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px;
}

.past_clients p, .help p {
    font: 24px/30px 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #C0C0C0;
    padding-bottom: 82px;
}

.past_clients a {
    max-width: 128px;
    display: inline-block;
    align-items: center;
}

.star_fall {
    background-image: url("../images/IMAGE_bcg_star_fall.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

.help {
    background-color: black;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    padding-top: 113px;
    padding-bottom: 108px;
}

.help div{
    max-width:571px;
    margin: auto;
}

.help p {
    font: 24px/30px 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
    padding-bottom: 22px;
}

.help a{
    font: 16px/20px 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #000000;
    height: 42px;
    text-decoration: none;
    align-items: center;
    display: inline-flex;
    background: #FFFFFF;
    border-radius: 14px;
    padding-right: 10px;
}

.help a:before{
    content: "";
    display: inline-block;
    background-color: black;
    width: 32px;
    height: 32px;
    border-radius: 14px;
    margin-right: 5px;
    margin-left: 5px;
}

.owl-stage{
    display: flex;
    align-items: center;
}

.owl-item{
    text-align: center;
}

